/* ------------------------------------- MAIN -----------------------------*/
.divBienvenida
{
    background-color:rgb(26, 26, 26);
    width: 100%;
    height: 6.7vw;
    margin-bottom: 6vw;
}

.divDespedida
{
    background-color:black;
    width: 100%;
    height: 6.7vw;
    margin-bottom: 6vw;
    border-radius: 1vw;
}

.logoPrincipalImg
{
    height: 106px;
    width: 230px;
    margin-top: -5vw;
    margin-right: -9vw;
    margin-left: -27vw;
    margin-bottom: 1.6vw;
}

.tituloPrincipal
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 19px;
    color: white;
    text-align: center;
    margin-right: 50vw;
    margin-top: 100vw;
}

#lista-bienvenida
{
    color: white;
    font-size: 1.3vw;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    display: flex;
    margin-left: 60vw;
    margin-bottom: 0vw;
    text-decoration: none;
}

#lista-despedida
{
    color: white;
    font-size: 1.3vw;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    display: flex;
    margin-right: 60vw;
    margin-bottom: 0vw;
    text-decoration: none;
}

#parrafo-despedida
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(17, 206, 115);
    text-align: right;
    font-size: 1.3vw;
}

.item-lista-bienvenida
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 1.5vw;
    margin: 1vw;
    margin-top: 2.3vw;
    margin-left: 2vw;
}

.item-lista-bienvenida:hover
{
   color: red;
}

body
{
    text-align: center;
    background-color: rgb(233, 227, 227);
}



/* ------------------- FORMULARIO -------------------------------------*/
.form-container
{
    width: 80%;
    margin-left: 135px;
    margin-top: 30px;
}

.fieldset-form
{
    border-color: black;
    border-radius: 8px;
    width: 100%;
}

.fieldset2-form
{
    border-color: black;
    margin-bottom: 5px;
    text-align: center;
}

.tituloFieldset-form
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
}

.labelForm
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#labelAlquilerRadioButton
{
    margin-left: 10px;
    
}

#labelVentaRadioButton
{
    margin-left: 10px;
}

.imagenForm
{
    height: 1.3vw;
    width: 1.3vw;
    margin-right: 2vw;
}

p
{
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 7px;
    margin-top: 3px;
    background-color: rgb(221, 213, 213);
    border-radius: 10px;
}

.infoBox
{
    border-radius: 4px;
    width: 500px;
    text-align: center;
    text-indent: -50px;
    height: 20px;
    margin-bottom: 2px;
}

.infoBoxNameAlias
{
    border-radius: 4px;
    width: 500px;
    text-indent: 210px;
    height: 20px;
    margin-bottom: 2px;
}

.radioAlqVenta
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

#txtBoxNombre{
    margin-left: 55px;
}

.infoBoxDesc
{
    margin-left: 55px;
    height: 80px;
    min-height: 80px;
    max-height: 80px;

    width: 500px;
    min-width: 500px;
    max-width: 500px;

    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    border-width: 2px;
    border-color: black;
}

.BtnGuardar
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 270px;
    height: 25px;
    text-align-last: center;
    font-size: 15px;  
    border-color: black;
    border-width: 0.5px;
    border-radius: 5px;
    margin-top: 1px; 
    margin-bottom: 10px;
}


/* ---------------------------- TABLA ------------------------------------------- */
#loader
{
    height: 50px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    margin-top: 30px;
    margin-left: 750px;
}

#divSpinner
{
    margin-top: 30px;
}

.fieldset-tabla
{
    border-color: black;
    border-radius: 8px;
    width: 80%;

    margin-top: 25px;
    margin-left: 135px;
}

.tituloFieldset-tabla
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
}

.fieldset-botones-tabla
{
    border-color: black;
}

.div-botones-tabla
{
    background-color: rgb(221, 213, 213);
    border-radius: 10px;
    padding-bottom: 5px;
    margin-top: 4px;
}

.BtnEliminar
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 160px;
    height: 25px;
    text-align-last: center;
    font-size: 15px;  
    border-color: black;
    border-width: 0.5px;
    border-radius: 5px;
    margin-top: 4px;
}

.BtnCancelar
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 160px;
    height: 25px;
    text-align-last: center;
    font-size: 15px;  
    border-color: black;
    border-width: 0.5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 4px;
}

.BtnModificar
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 160px;
    height: 25px;
    text-align-last: center;
    font-size: 15px;  
    border-color: black;
    border-width: 0.5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 4px;
}


table, tr, td    
{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
}

th
{
    background-color: coral;
    border: 1px solid black;
    padding: 10px;
}

table
{
    margin-bottom: 5px;
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
}

tr:hover
{
    background-color: rgb(211, 190, 190);
}
